@charset "UTF-8" !important;




/* Tufte CSS styles */
html {
}

body {
    margin-left: auto !important;
    margin-right: auto !important;
    
    counter-reset: sidenote-counter !important;
}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #151515 !important;
        color: #ddd !important;
    }
}

h1 {
}

h2 {
}

h3 {
}

hr {
}

p.subtitle {
}

.numeral {
    
}

.danger {
    color: red !important;
}

article {
}

section {
}

p,
dl,
ol,
ul {
}

p {
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0 !important;
}


blockquote {
    font-size: 1.4rem !important;
}

blockquote p {
    width: 55% !important;
    margin-right: 40px !important;
}





/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit !important;
}

.no-tufte-underline:link {
    
    text-shadow: unset !important;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link, .tufte-underline, .hover-tufte-underline:hover {
        background-position-y: 87%, 87%, 87% !important;
    }
}


a:link::selection,
a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe !important;
    
}

.sidenote,
.marginnote {
    float: right !important;
    clear: right !important;
    margin-right: -60% !important;
    width: 50% !important;
    margin-top: 0.3rem !important;
    margin-bottom: 0 !important;
    font-size: .8rem !important;
    vertical-align: baseline !important;
    position: relative !important;
}

.sidenote-number {
    counter-increment: sidenote-counter !important;
}

.sidenote-number:after,
.sidenote:before {
    
    position: relative !important;
    vertical-align: baseline !important;
}

.sidenote-number:after {
    content: counter(sidenote-counter) !important;
    font-size: .8rem !important;
    top: -0.5rem !important;
    left: 0.1rem !important;
}

.sidenote:before {
    content: counter(sidenote-counter) " " !important;
    font-size: 1rem !important;
    top: 0rem !important;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82% !important;
    min-width: 59% !important;
    text-align: left !important;
}









.fullwidth {
    max-width: 90% !important;
    clear:both !important;
}

span.newthought {
    font-variant: small-caps !important;
    font-size: 1.2em !important;
}

input.margin-toggle {
    display: none !important;
}

label.sidenote-number {
    display: inline-block !important;
    max-height: 2rem !important; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
    display: none !important;
}

.iframe-wrapper {
    position: relative !important;
    padding-bottom: 56.25% !important; /* 16:9 */
    padding-top: 25px !important;
    height: 0 !important;
}

.iframe-wrapper iframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 760px) {
    body {
        width: 84% !important;
        padding-left: 8% !important;
        padding-right: 8% !important;
    }

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100% !important;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline !important;
    }

    .sidenote,
    .marginnote {
        display: none !important;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block !important;
        float: left !important;
        left: 1rem !important;
        clear: both !important;
        width: 95% !important;
        margin: 1rem 2.5% !important;
        vertical-align: baseline !important;
        position: relative !important;
    }

    label {
        cursor: pointer !important;
    }
}
