
         .post-entry title {      color: black !important;
}
      .post-entry title a {}
      
      
      @media (max-width: 1200px) {
      
      body {font-family: etbb, serif !important}
  h2,h3 {
      color: black !important;

 

  }
      h3  a {color: #002366 !important; ; }

}

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 1000px) {
      html {font-size: 220% !important; }
  p {    max-width:80% !important; 
    border-left: 50px hidden  !important;
        border-right: 50px hidden  !important;

    padding: 10px !important;
      margin-top: 6.0pt;
    margin-right: 0cm;
    text-align: justified` !important;
    margin-bottom: 6.0pt;
    margin-left: 0cm;

}
  body {       border-left: 50px red  !important;
        border-right: 50px red  !important;}

  h2,h3 {
      font-size: 115% !important;
      color: black !important;

 

  }
      h3  a { color: #002366 !important; }


    
}
      
  p.first::first-letter {
line-height: .7em !important;
  font-family: "trajan-color" !important;
  color: black !important;
  font-feature-settings: "ss20" !important;
  font-size: 4em !important;
  padding: 1px 0px;
      margin-top: 0.15em !important;
  margin-right: 6px;
  float: left !important;
  
}
      
     p &gt;  span.tt { /* OK, a bit contrived... */
font-family: "source-code-pro" monospace !important; 
font-feature-settings: "tnum", "lnum" !important;

  
   }
      
  body * {

    font-family: etbb;
    font-feature-settings: "onum","pnum" important;
    font-variant-numeric: oldstyle-nums proportional-nums !important;
}
        html * {
}


.entry-title {margin-left 10% !important;}

.post-title entry title * {}
      
      
h3.post-title.entry-title * {  display: block;
  margin-left: auto !important;
  margin-right: auto!important;
width: 50% !important;}
div.post-header-line-1 { 
  margin-left: 35% !important;
  margin-right: auto!important;
display: inline !important;
width: 75% !important;}
      .byline.jump-link { display: none;}
.byline.post-comment-link.container {margin-left: 1.5em !important;}
        .post-header {width: 75% !important}
.post-footer {    margin-left: 22.5% !important;}
   .post-title-container {margin-top: 1.1% !important;}
      .tabs {margin-bottom: 25px !important;}
      #page_list_top {margin-left: 12.5px !important;}
      /* Center the byline and timestamp on mobile screens */
@media (max-width: 768px) {
    span.byline.post-timestamp  {
        display: block !important;
      text-align: center !important;
        margin-left: auto !important;
              margin-right: auto !important;
        margin-top: 0px !important;
      margin-bottom 0px !important/* Adjust as needed */
    }
}
      div.post-footer {margin-top: -1em !important;}



